body {
    background-color: coral;
}
.back-img{
    background-image: url("../5e58de6a1c8f4.jpg");
    width: 500px;
    height: 500px;
}
.posisi{
    background-image: url("../5e58de6a1c8f4.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}